h1{

    color: aquamarine;

}

img {

    border-radius: 12px;
    max-width: fit;

}

.contenedor {
display: flex;
flex-direction: column;

    justify-content: center;
    align-content: center;
background-repeat: no-repeat;
background-position: center;
}