body{
 background-color: #121a12;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: sans-serif;
}
h1{

    color: aquamarine;

}

img {

    border-radius: 12px;
    max-width: fit;

}

.contenedor {
display: flex;
flex-direction: column;

    justify-content: center;
    align-content: center;
    background-color: #2d3a2d;
background-repeat: no-repeat;
background-position: center;
margin: auto;
color: antiquewhite;
}
.boton-redireccion {

display: inline-block;
background-color: #63d87e;
color: #1a241a;
padding: 1opx 20px;
border-radius: 10px;
margin-top: 15px;
}
